extends layout

block content
  .row
    .col-sm-3
      h2 I am the Page
      hr
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, optio voluptatum. Maxime libero officiis corrupti, nobis eligendi voluptatibus provident dolor, quia molestias, natus laborum atque quis soluta rem. Quaerat, vero?
    .col-sm-9
      h2 With its custom template
      hr
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur harum rem commodi at asperiores fugit fugiat minima, distinctio similique. Quasi mollitia cum molestiae quaerat hic perspiciatis earum porro perferendis. Alias?Suscipit, consequuntur, illum laboriosam consectetur tempore ut distinctio quis labore optio delectus rem. Nisi possimus tempore saepe nam sint officia, facilis asperiores eaque id impedit voluptates ad corporis amet error.Ipsa blanditiis perspiciatis nemo dolore fugiat maiores ullam omnis eius libero maxime tempora et modi neque, minus deleniti alias saepe! Provident hic sequi inventore cumque aperiam, nostrum officia saepe repellendus.Adipisci autem sint hic inventore architecto nesciunt pariatur necessitatibus. Modi sit ex nemo repellat aperiam. Atque voluptatem, illo impedit dolores deserunt aspernatur, natus harum aliquam consequuntur rem nesciunt repellat doloribus!