extends layout

block content
  p= content
  ul
    .well
      each employee in data
        li= employee
  hr
  a.btn.btn-sm.btn-success(href='/api/v1/employees') GET /api/v1/employees
  span &nbsp;
  a.btn.btn-sm.btn-success(href='/api/v1/employees/'+id) GET /api/v1/employees/0
  span &nbsp;
  a.btn.btn-sm.btn-success(href='/api/v1/employees/'+`${id+3}`) GET /api/v1/employees/3
  hr
  a.btn.btn-sm.btn-info(href='/api/v1/managers') GET /api/v1/managers
  span &nbsp;
  a.btn.btn-sm.btn-info(href='/api/v1/managers/'+id) GET /api/v1/managers/0
  span &nbsp;
  a.btn.btn-sm.btn-info(href='/api/v1/managers/'+`${id+3}`) GET /api/v1/managers/3
  hr
  a.btn.btn-sm.btn-primary(href='/api/v1/managers/'+id+'/team') GET /api/v1/managers/0/team
  span &nbsp;
  a.btn.btn-sm.btn-primary(href='/api/v1/managers/3/team') GET /api/v1/managers/3/team
  span &nbsp;
  hr
  form#form.form-horizontal(method='get' action='/api/v1/employees')
    .form-group
      label.col-xs-2.control-label(for='id') Enter Employee Id:
      .col-xs-2
        input#id.form-control(name='id' type='text')
      button#btn.btn.btn-sm.btn-success(type='submit') GET /api/v1/employees/:id


  script.
    //- const form = document.getElementById('form');
    //- const id = document.getElementById('id');
    form.addEventListener('submit', event => {
      event.preventDefault();
      const theUrl = '/api/v1/employees/' + id.value;
      console.log(id.value);
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", theUrl, true); // true for asynchronous 
      xmlHttp.send(null);
    })


    //- var a = document.createElement('a');
    
    //- a.href = 'http://' + document.getElementById('href').value;    
    //- a.target = '_blank';
    //- a.appendChild(document.createTextNode(document.getElementById('href').value));
    //- document.getElementById('link').appendChild(a);
    //- document.getElementById('link').appendChild(document.createElement('br'));