extends layout

block content
  form(method='post' action='/new')
    fieldset
      .form-group
        label(for='pageUrl') Page URL
        input#pageUrl.form-control(name='pageUrl' type='text')
      .form-group
        label(for='pageName') Page URL
        input#pageName.form-control(name='pageName' type='text')
      .form-group
        label(for='pageContent') Page Content
        input#pageContent.form-control(name='pageContent' type='text')
      .form-group
        button.btn.btn-primary(type='submit') Add
    hr
    a.btn.btn-sm.btn-success(href='/api/v1/employees') GET /api/v1/employees
  form(method='post' action='/api/v1/employees')
    fieldset
      .form-group
        button.btn.btn-sm.btn-warning(type='submit') POST /api/v1/employees